In [17]:
import pandas as pd
from funpymodeling.exploratory import freq_tbl, status

In [2]:
# Para este caso nos interesa visualizar todas las columnas
pd.set_option('display.max_columns', None)

In [5]:
data = pd.read_csv("water_potability.csv", sep=',')

In [7]:
data.head(3)

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0

In [13]:
status(data)

          variable  q_nan     p_nan  q_zeros   p_zeros  unique     type
0               ph    491  0.149878        1  0.000305    2785  float64
1         Hardness      0  0.000000        0  0.000000    3276  float64
2           Solids      0  0.000000        0  0.000000    3276  float64
3      Chloramines      0  0.000000        0  0.000000    3276  float64
4          Sulfate    781  0.238400        0  0.000000    2495  float64
5     Conductivity      0  0.000000        0  0.000000    3276  float64
6   Organic_carbon      0  0.000000        0  0.000000    3276  float64
7  Trihalomethanes    162  0.049451        0  0.000000    3114  float64
8        Turbidity      0  0.000000        0  0.000000    3276  float64
9       Potability      0  0.000000     1998  0.609890       2    int64

In [14]:
# Pasamos a discretizar

data['ph_cat'], saved_bins_1 = pd.qcut(data['ph'],
                              q=5,
                              retbins=True) # importante!

data['Sulfate_cat'], saved_bins_2 = pd.qcut(data['Sulfate'],
                              q=5,
                              retbins=True) # importante!

data['Trihalomethanes_cat'], saved_bins_3 = pd.qcut(data['Trihalomethanes'],
                              q=5,
                              retbins=True) # importante!

In [21]:
# (Podría borrar o no las columnas que he discretizado y dejo las discretizados, depende del caso) En este caso las borro. Dejo las _cat ..

data = data.drop(['ph'], axis=1)
data = data.drop(['Sulfate'], axis=1)
data = data.drop(['Trihalomethanes'], axis=1)

In [23]:
status(data)
#freq_tbl(data['Sulfate_cat'])

              variable  q_nan     p_nan  q_zeros  p_zeros  unique      type
0             Hardness      0  0.000000        0  0.00000    3276   float64
1               Solids      0  0.000000        0  0.00000    3276   float64
2          Chloramines      0  0.000000        0  0.00000    3276   float64
3         Conductivity      0  0.000000        0  0.00000    3276   float64
4       Organic_carbon      0  0.000000        0  0.00000    3276   float64
5            Turbidity      0  0.000000        0  0.00000    3276   float64
6           Potability      0  0.000000     1998  0.60989       2     int64
7               ph_cat    491  0.149878        0  0.00000       5  category
8          Sulfate_cat    781  0.238400        0  0.00000       5  category
9  Trihalomethanes_cat    162  0.049451        0  0.00000       5  category

In [24]:
# Primero creo la categoría "desconocido" y luego le asigno con FILLNA ese valor categórico a los Nan de la columnas que he discretizado en el paso anterior.

data['ph_cat']=data['ph_cat'].cat.add_categories("desconocido")
data['ph_cat']=data['ph_cat'].fillna(value="desconocido")

data['Sulfate_cat']=data['Sulfate_cat'].cat.add_categories("desconocido")
data['Sulfate_cat']=data['Sulfate_cat'].fillna(value="desconocido")

data['Trihalomethanes_cat']=data['Trihalomethanes_cat'].cat.add_categories("desconocido")
data['Trihalomethanes_cat']=data['Trihalomethanes_cat'].fillna(value="desconocido")

In [27]:
status(data)
#freq_tbl(data['Sulfate_cat'])

              variable  q_nan  p_nan  q_zeros  p_zeros  unique      type
0             Hardness      0    0.0        0  0.00000    3276   float64
1               Solids      0    0.0        0  0.00000    3276   float64
2          Chloramines      0    0.0        0  0.00000    3276   float64
3         Conductivity      0    0.0        0  0.00000    3276   float64
4       Organic_carbon      0    0.0        0  0.00000    3276   float64
5            Turbidity      0    0.0        0  0.00000    3276   float64
6           Potability      0    0.0     1998  0.60989       2     int64
7               ph_cat      0    0.0        0  0.00000       6  category
8          Sulfate_cat      0    0.0        0  0.00000       6  category
9  Trihalomethanes_cat      0    0.0        0  0.00000       6  category

In [28]:
data_ohe = pd.get_dummies(data)

In [30]:
status(data_ohe)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,Hardness,0,0.0,0,0.000000,3276,float64
1,Solids,0,0.0,0,0.000000,3276,float64
2,Chloramines,0,0.0,0,0.000000,3276,float64
3,Conductivity,0,0.0,0,0.000000,3276,float64
4,Organic_carbon,0,0.0,0,0.000000,3276,float64
5,Turbidity,0,0.0,0,0.000000,3276,float64
6,Potability,0,0.0,1998,0.609890,2,int64
7,"ph_cat_(-0.001, 5.822]",0,0.0,2719,0.829976,2,uint8
8,"ph_cat_(5.822, 6.702]",0,0.0,2719,0.829976,2,uint8
9,"ph_cat_(6.702, 7.437]",0,0.0,2719,0.829976,2,uint8
10,"ph_cat_(7.437, 8.311]",0,0.0,2719,0.829976,2,uint8
11,"ph_cat_(8.311, 14.0]",0,0.0,2719,0.829976,2,uint8
12,ph_cat_desconocido,0,0.0,2785,0.850122,2,uint8
13,"Sulfate_cat_(128.999, 301.074]",0,0.0,2777,0.847680,2,uint8
14,"Sulfate_cat_(301.074, 323.531]",0,0.0,2777,0.847680,2,uint8
15,"Sulfate_cat_(323.531, 342.095]",0,0.0,2777,0.847680,2,uint8
16,"Sulfate_cat_(342.095, 367.369]",0,0.0,2777,0.847680,2,uint8
17,"Sulfate_cat_(367.369, 481.031]",0,0.0,2777,0.847680,2,uint8
18,Sulfate_cat_desconocido,0,0.0,2495,0.761600,2,uint8
19,"Trihalomethanes_cat_(0.737, 53.107]",0,0.0,2653,0.809829,2,uint8
20,"Trihalomethanes_cat_(53.107, 62.656]",0,0.0,2653,0.809829,2,uint8
21,"Trihalomethanes_cat_(62.656, 70.446]",0,0.0,2654,0.810134,2,uint8
22,"Trihalomethanes_cat_(70.446, 79.701]",0,0.0,2653,0.809829,2,uint8
23,"Trihalomethanes_cat_(79.701, 124.0]",0,0.0,2653,0.809829,2,uint8
24,Trihalomethanes_cat_desconocido,0,0.0,3114,0.950549,2,uint8

In [31]:
data_x = data_ohe.drop('Potability', axis=1)
data_y = data_ohe['Potability']

In [34]:
status(data_y)

     variable  q_nan  p_nan  q_zeros  p_zeros  unique   type
0  Potability      0    0.0     1998  0.60989       2  int64

In [35]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(data_x, data_y, test_size=0.3)

In [36]:
from sklearn.ensemble import RandomForestClassifier 

# Creamos 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 99)

In [37]:
rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=1000, random_state=99)

In [38]:
import pickle

# Guardar en el disco
filename = 'rf.pkl'
pickle.dump(rf, open(filename, 'wb')) # rf = nuestro modelo

# Lo cargamos para usarlo en otro momento. Asi:
# rf_loaded = pickle.load(open(filename, 'rb'))

# Guardamos las columnas x (sin Potability)
with open('categories_ohe.pickle', 'wb') as handle:
    pickle.dump(data_x.columns, handle, protocol=pickle.HIGHEST_PROTOCOL)